## 데이터 불러오기

In [1]:
### 와인 데이터 사용
# - 08_wine.csv 읽어 들이기

In [2]:
import pandas as pd

wine = pd.read_csv("./data/08_wine.csv")
wine.head()

# pH : 수소이온농도(pH)는 물질의 산성과 알칼리성 정도
# alcohol     sugar   pH   class
# 알콜도수    당도   농도 와인종류

### 범주 : 와인종류(0=레드와인, 1=화이트와인)
# - 범주가 2개인 이진분류이므로, 
# - 범주의 값이 1인 화이트와인을 찾는 것이 목적

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0

In [3]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alcohol  6497 non-null   float64
 1   sugar    6497 non-null   float64
 2   pH       6497 non-null   float64
 3   class    6497 non-null   float64
dtypes: float64(4)
memory usage: 203.2 KB

In [4]:
wine.corr()

          alcohol     sugar        pH     class
alcohol  1.000000 -0.359415  0.121248  0.032970
sugar   -0.359415  1.000000 -0.267320  0.348821
pH       0.121248 -0.267320  1.000000 -0.329129
class    0.032970  0.348821 -0.329129  1.000000

## 전처리

In [7]:
# 독립변수, 종속변수 데이터 추출하기
data = wine[['alcohol', 'sugar', 'pH']].to_numpy()

# - 훈련 타겟 데이터 추출
target = wine['class'].to_numpy()

In [10]:
# 훈련데이터, 테스트데이터 분리하기
# 훈련 : 테스트 = 75 : 25

from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = train_test_split(
    data, target, test_size=0.25, random_state=42)

print("훈련-입력   : ", train_input.shape)
print("훈련-타겟   : ", train_target.shape)
print("테스트-입력 : ", test_input.shape)
print("테스트-입력 : ", train_target.shape)

훈련-입력   :  (4872, 3)
훈련-타겟   :  (4872,)
테스트-입력 :  (1625, 3)
테스트-입력 :  (4872,)

In [11]:
# 스케일 정규화(표준화)
from sklearn.preprocessing import StandardScaler

# 표준화 객체 생성하기
ss = StandardScaler()

# 스스로 표준점수 생성
ss.fit(train_input)

# 훈련 및 테스트 입력 데이터 표준점수로 변환하기
# - 타겟 데이터는 절대 변경하면 안됩니다.(정답입니다.)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)